<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="cart-page-heading mb-30">
        <h5>Éditer un vêtement</h5>
      </div>
      <div class="row row-cols-1">
        <div class="col">
          <% (0...@attire.pictures.count).each do |image| %>
            <div class="col"><%= image_tag(@attire.pictures[image].variant(resize: '100x100!').processed, class:"img-fluid") %><br />
            <%= link_to 'Effacer', picture_path(@attire.pictures[image]), method: :delete, class:"btn", data: { confirm: 'Es-tu sûr?'} %></div>
          <% end %>
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="col">
          <%= form_tag url_for(action: 'update_pictures'), multipart: true, method: 'patch' do %>
            <%= hidden_field_tag :id, @attire.id %>
            <%= file_field_tag 'pictures[]', multiple: true, accept: 'image/png,image/jpeg', class: 'form-control' %>
            <%= submit_tag 'Ajouter images', class: 'btn' %>
          <% end %>
        </div>
      </div>
      <%= form_tag url_for(action: 'update'), method: "patch" do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="row">
        <div class="col-12 mb-3">
          <%= label_tag 'Nom du vêtement' %>
          <%= text_field_tag 'title', @attire.title, class:"form-control"%>
        </div>
        <div class="col-12 mb-3">
          <%= label_tag 'Description' %>
          <%= text_area_tag 'description', @attire.description, class:"form-control" %>
        </div>
        <div class="col-3 mb-3">
          <%= label_tag 'Prix' %>
          <%= number_field_tag 'price', @attire.price, class:"form-control" %>
        </div><br>
        <div class="col-2 mb-3">
          <%= label_tag 'Catégorie' %><br>
          <%= select_tag(:category_id, options_for_select(@category_array)) %>
        </div>
        <div class="col-2 mb-3">
          <%= label_tag 'Taille' %><br>
          <%= select_tag(:size_id, options_for_select(@size_array)) %><br>
        </div><br>
        <div class="col-2 mb-3">
          <%= label_tag 'Couleur' %><br>
          <%= select_tag(:colour_id, options_for_select(@colour_array)) %><br>
        </div><br>
        <div class="col-2 mb-3">
          <%= label_tag 'Matière' %><br>
          <%= select_tag(:fabric_id, options_for_select(@fabric_array)) %><br>
        </div><br>
        <div class="col-3 mb-3">
          <%= label_tag 'Disponibilité' %><br>
          <%= select_tag(:situation_id, options_for_select(@situation_array)) %><br>
        </div><br>
        <div class="col-3 mb-3">
          <%= label_tag 'Etat' %><br>
          <%= select_tag(:condition_id, options_for_select(@condition_array)) %><br>
        </div><br>
        <div class="col-3 mb-50">
          <%= label_tag 'Marque' %><br>
          <%= select_tag(:brand_id, options_for_select(@brand_array)) %><br>
        </div><br>
        <div class="col-md-6 mb-3">
          <%= submit_tag "Modifier", class:"btn essence-btn"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
