<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="checkout_details_area mt-50 clearfix">
          <div class="col-12 mb-3">

            <h5 class="lead">Modifier le vêtement</h5>
          </div>

            <%= form_tag url_for(action: 'update'), method: "patch" do %>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= text_field_tag 'title', @attire.title, class:"form-control"%>
              </div>

              <div class="col-12 mb-3">
                <%= text_area_tag 'description', @attire.description, class:"form-control" %>
              </div>
              <div class="col-4 mb-3">
                <%= number_field_tag 'price', @attire.price, class:"form-control" %>
              </div>
              <div class="col-12">
                <%= submit_tag "Modifier le vêtement", class:"btn essence-btn"%>
              </div>
              <% end %>
            </div>
    
        </div>
      </div>
    </div>
  </div>
</div>
