
  <div class="card m-3">
    <div class="card-img">
      <% if item.pictures.attached? %>
        <%= link_to image_tag(item.pictures.first.variant(resize: '300x300!').processed, class:"img-fluid"), attire_path(item) %>
      <% else %>
        <%= link_to image_tag('https://via.placeholder.com/300x300', height: "300px", width: "auto", class:"img-fluid"), attire_path(item) %>
      <% end %>
    </div>
    <div class="card-body">
      <h6 class="card-title font-weight-bold text-dark"><%= item.title %></h6>
      <div class="badge badge-pill badge-light mb-2"><h5><%= number_to_euro(item.price) %> </h5></div>
      <div>
        <%= link_to "Voir l'article!", attire_path(item), class: "btn essence-btn btn-sm" %>

      </div>
    </div>
  </div>
