<div class="checkout_area section-padding-80">
  <div class="container">
    <h4>Le Crew</h4>
    <p>Notre équipe multi-skills se compose des plus grands mangeur de pizza de la French Riviera et de la Normandie!</p>

    <div class="row justify-content-center">
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-img-top">
          <%= link_to image_tag('crew_images/alann.jpg') %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Alann Deleau</h5>
          <p class="card-text">Amateur du candlestick charting (you know what I mean).</p>
        </div>
      </div>
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-img-top">
          <%= link_to image_tag('crew_images/anouar.jpg') %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Anouar Haidary</h5>
          <p class="card-text">(Presque) Sujet de sa Majesté la reine d'Angleterre.</p>
        </div>
      </div>
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-img-top">
          <%= link_to image_tag('crew_images/maksim.jpg') %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Maxime Besse</h5>
          <p class="card-text">Tendance naturelle à avoir la barbe bleue. Pizza lover.</p>
        </div>
      </div>
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-img-top">
          <%= link_to image_tag('crew_images/fernando.jpg') %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Fernando Bergamini</h5>
          <p class="card-text">Est sorti vivant de deux kidnapping (True Story). Un héros, j'vous dit!</p>
        </div>
      </div>
      <div class="col-12 mb-3">
        <%= link_to 'Retour', url_for(:back) %>
      </div>
    </div>
  </div>
</div>
