<% if resource_name == current_user || current_user.is_admin == true %>
  <div class="checkout_area section-padding-80">
    <div class="container">
      <div class="row">
        <div class="cart-page-heading mb-30">
          <h5>Modifie ton profil
            <%= resource_name.to_s.humanize %></h5>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="col-md-6 mb-3">
            <%= f.label "Prénom" %><br/>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "firts_name", class:"form-control" %>
          </div>

          <div class="col-md-6 mb-3">
            <%= f.label "Nom" %><br/>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control" %>
          </div>
          <div class="col-12 mb-3">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <div class="col-12 mb-3">
            <%= f.label "Description" %><br/><br>
            <%= f.text_area :about_me, autofocus: true, autocomplete: "about_me", class:"form-control" %>
          </div>
          <div class="col-12 mb-3">
            <%= f.label "Ville" %><br/><br>
            <%= f.collection_select :city_id, City.all, :id, :town, class:"form-control" %>
          </div>
          <div class="col-12 mb-3">
            <%= f.label "Avatar" %><br/>
            <%= f.file_field :avatar %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for:
            <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="col-md-6 mb-4">
          <%= f.label "Mot de passe" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <i class="small">
            (laisser vide si vous ne voulez pas le changer)</i>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %>
              characters minimum</em>
          <% end %>
        </div>

        <div class="col-md-6 mb-4">
          <%= f.label "Confirmation du mot de passe" %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="col-12 mb-3">
          <%= f.label "mot de passe actuel" %>
          <i>(Tape ton mot de passe actuel pour valider les modifications)</i><br/>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        </div>

        <div class="col-12 mb-3">
          <%= f.submit "Modifier", class:"btn essence-btn" %>
          <!-- FIXME: fix position -->
          <%= link_to 'Back', url_for(:back) %>
        </div>
      <% end %>

      <div class="col-12 mb-3">
        <h5>Supprimer votre compte?</h5>
        <i class="small">Cette action est définitive</i>
      </div>
      <div class="col-12 mb-3">
        <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Veux tu vraiment supprimer ton compte? Cette action est définitive." }, method: :delete, class:"btn essence-btn" %>
      </div>
      <div class="col-12 mb-3">
        <%= link_to "Retour sur mon profil", :back, class:"btn essence-btn" %>
      </div>
    </div>

  </div>
</div>
<% else %>
<div style="height: 60vh">
  <div class="alert alert-danger col-12" role="alert"><%= "Tu n'as pas le droit d'acceder ce contenu !" %></div>
</div>
<% end %>
