<div class="col-12">
  <table class="table">
    <h5>Utilisateurs</h5>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Prénoms</th>
        <th scope="col">Noms</th>
        <th scope="col">Supprimer</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @all_users.all.each do |all_users| %>
        <tr>
          <% admin = "Admin" %>
          <td><%= all_users.id %></td>
          <td><%= link_to all_users.first_name, user_path(all_users.id) %></td>
          <td><%= link_to all_users.last_name, user_path(all_users.id) %></td>
          <td><%= unless all_users.id == current_user.id
              link_to "Supprimer", user_path(all_users.id), class:"btn btn-outline-danger btn-sm", data:{method: "DELETE"}
            end %>
          </td>
          <td><%= all_users.is_admin ? "admin" : "user" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Montant</th>
        <th scope="col">Stripe ID</th>
        <th scope="col">ID Acheteur</th>
        <th scope="col">ID Item</th>
      </tr>
    </thead>
      <h5>Commandes</h5>
    <tbody>
      <% @all_orders.all.each do |all_orders| %>
        <tr>
          <td><%= all_orders.id %></td>
          <td><%= number_to_euro(all_orders.sold_price/100) %></td>
          <td><%= all_orders.stripe_customer_id %></td>
          <td><%= link_to all_orders.customers.collect(&:id)[0], user_path(all_orders.customers.collect(&:id)[0]) %></td>
          <td><%= link_to all_orders.attires.collect(&:id)[0], attire_path(all_orders.attires.collect(&:id)[0]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tous les items en BDD</th>
        <th scope="col">User ID</th>
        <th scope="col">Status</th>
        <th scope="col">Prix</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
      <h5>Vêtements mis en ligne</h5>
    <tbody>
      <% @attire.all.each do |attire| %>
        <tr>
          <td><%= attire.id %></td>
          <td><%= link_to attire.title, attire_path(attire.id) %></td>
          <td><%= link_to attire.owner_id, attire_path(attire.id) %></td>
          <td><%= link_to attire.situation.scope, attire_path(attire.id) %></td>
          <td><%= link_to number_to_euro(attire.price), attire_path(attire.id) %></td>
          <% if !attire.is_sold %>
            <td><%= link_to "Modifier", edit_attire_path(attire.id), class:"btn btn-outline-info btn-sm" %></td>
          <% else %>
            <td><input type="submit" value="Vendu" disabled="disabled" class="btn btn-outline-secondary btn-sm"></td>
          <% end %>
          <td><%= link_to "Supprimer", attire_path(attire.id), class:"btn btn-outline-danger btn-sm", data:{method: "DELETE"}%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-4">
        <h5>Catégories</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Catégories</th>
          </tr>
        </thead>
        <tbody>
          <% @all_cats.all.each do |all_cats| %>
            <tr>
              <td><%= all_cats.id %></td>
              <td><%= all_cats.kind%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Marques</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Marques</th>
          </tr>
        </thead>
        <tbody>
          <% @all_brands.all.each do |all_brands| %>
            <tr>
              <td><%= all_brands.id %></td>
              <td><%= all_brands.trademark%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Villes</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Villes</th>
          </tr>
        </thead>
        <tbody>
          <% @all_cities.all.each do |all_cities| %>
            <tr>
              <td><%= all_cities.id %></td>
              <td><%= all_cities.town%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Couleurs</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Couleurs</th>
          </tr>
        </thead>
        <tbody>
          <% @all_colours.all.each do |all_colours| %>
            <tr>
              <td><%= all_colours.id %></td>
              <td><%= all_colours.tint%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>État des vêtements</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Condition</th>
          </tr>
        </thead>
        <tbody>
          <% @all_conditions.all.each do |all_conditions| %>
            <tr>
              <td><%= all_conditions.id %></td>
              <td><%= all_conditions.state%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Matières</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Matières</th>
          </tr>
        </thead>
        <tbody>
          <% @all_fabrics.all.each do |all_fabrics| %>
            <tr>
              <td><%= all_fabrics.id %></td>
              <td><%= all_fabrics.variety%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Tailles</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tailles</th>
          </tr>
        </thead>
        <tbody>
          <% @all_sizes.all.each do |all_sizes| %>
            <tr>
              <td><%= all_sizes.id %></td>
              <td><%= all_sizes.measure%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h5>Statut</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <% @all_situations.all.each do |all_situations| %>
            <tr>
              <td><%= all_situations.id %></td>
              <td><%= all_situations.scope%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
