<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <% if user_signed_in? && current_user.is_admin == true %>
        <div class="col-12 mb-30">
          <h5>Ton espace admin</h5>
        </div>
      <% else %>
        <div class="col-12 mb-30">
          <h5>Ton profil</h5>
        </div>
      <% end %>
      <div class="col-12 row">
        <div class="col-3">
          <div id="user_profile_picture_box">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar.variant(resize: "90x90!").processed, class:"img-fluid", alt: "profile_picture", id:"profilepicture" %>
              <%= link_to 'Effacer', avatar_path(@user.id), method: :delete, class:"btn", data: { confirm: 'Es-tu sûr?'} %>
            <% else %>
              <%= image_tag('vendor_images/user.svg', style:"width:90px; height: auto", class:"img-fluid", alt: "profile_picture", id:"profilepicture") %>
            <% end %>
            <!--
            %= form_for(@user, url: avatar_path, method: "patch") do |f| %>
              %= f.file_field 'avatar', autofocus: true, class:"form-control" %>
              %= f.submit "Changer", class:"btn" %>
            % end %>
            -->
          </div>
        </div>
        <div class="col-9 mb-50">
          <p>
            <%= @user.first_name %>
            <%= @user.last_name %></p>
          <p>Email de contact:
            <%= @user.email %></p>
          <p>Utilisateur depuis le:
            <%= @user.created_at %></p>

          <%= link_to 'Éditer mon profil',edit_user_registration_path, class:"btn essence-btn" %>

        </div>
      </div>

      <% if user_signed_in? && current_user.is_admin == true %>
        <%= render 'show_admin_partial' %>
      <% else %>
        <%= render 'show_user_partial' %>
      <% end %>

    </div>
  </div>
</div>
