<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="checkout_details_area mt-50 clearfix">
          <div class="cart-page-heading mb-30">
            <% if user_signed_in? && current_user.is_admin == true %>
              <div class="col-12 mb-30">
                <h5>Ton espace admin</h5>
              </div>
            <% else %>
              <div class="col-12 mb-30">
                <h5>Ton profil</h5>
              </div>
            <% end %>

            <div class="col-12 mb-50">
              <p>Prénom :
                <%= current_user.first_name %></p>
              <p>Nom :
                <%= current_user.last_name %></p>
              <p>Email :
                <%= current_user.email %></p>
              <p>Compte créé le:
                <%= current_user.created_at %></p>

              <%= link_to 'Éditer mon profil',edit_user_registration_path, class:"btn essence-btn" %>

            </div>

            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produits</th>
                    <th scope="col">Prix</th>
                  </tr>
                </thead>
                <tbody>

                  <% Attire.all.each do |attire| %>
                    <tr>
                      <td><%= attire.id %></td>
                      <td><%= link_to attire.title, attire_path(attire.id) %></td>
                      <td><%= link_to attire.price, attire_path(attire.id) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
