<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <% if user_signed_in? && current_user.is_admin == true %>
        <div class="col-12 mb-30">
          <h5>Ton espace admin</h5>
        </div>
      <% else %>
        <div class="col-12 mb-30">
          <h5>Ton profil</h5>
        </div>
      <% end %>
      <div class="col-12 row">
        <div class="col-3">
          <div id="user_profile_picture_box">
            <!--
            %= image_tag "vendor_images/profilepic.jpg", alt: "profile_picture", id:"profilepicture" %>
            -->
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.variant(resize: "90x90!").processed, class:"img-responsive", alt: "profile_picture", id:"profilepicture" %>
            <% else %>
              <%= image_tag('vendor_images/user.svg', style:"width:90px; height: auto", class:"img-responsive", alt: "profile_picture", id:"profilepicture") %>
            <% end %>
          </div>
        </div>
        <div class="col-9 mb-50">
          <p>
            <%= current_user.first_name %>
            <%= current_user.last_name %></p>
          <p>Email de contact:
            <%= current_user.email %></p>
          <p>Utilisateur depuis le:
            <%= current_user.created_at %></p>

          <%= link_to 'Éditer mon profil',edit_user_registration_path, class:"btn essence-btn" %>

        </div>
      </div>

      <% if user_signed_in? && current_user.is_admin == true %>
        <%= render 'show_admin_partial' %>
      <% else %>
        <%= render 'show_user_partial' %>
      <% end %>

    </div>
  </div>
</div>
