<div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Adresse de livraison</h5>
                        </div>

                        <%= form_tag url_for(action: 'create'), multipart: true, method: 'post' do %>
                          <%= hidden_field_tag :customer_id, current_user.id %>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Prénom' %>
                                    <%= text_field_tag 'first_name', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Nom de Famille' %>
                                    <%= text_field_tag 'last_name', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Adresse' %>
                                    <%= text_field_tag 'address', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Code Postale' %>
                                    <%= text_field_tag 'postcode', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Ville' %>
                                    <%= text_field_tag 'city', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Téléphone' %>
                                    <%= text_field_tag 'phone_number', nil, class: 'form-control' %>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <%= label_tag 'Email' %>
                                    <%= text_field_tag 'email', nil, class: 'form-control' %>
                                </div>

                            </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5>Le détail de votre commande</h5>

                        </div>

                        <ul class="order-details-form mb-4">
                            <li><span>Produit</span> <span>Total</span></li>
                            <% @new_order.each do |item_cart| %>
                              <li><span><%= Attire.find(item_cart.attire_id).title %></span> <span><%= item_cart.sale_price %></span></li>
                            <% end %>
                        </ul>

                        <div class="col-md-6 mb-3">
                          <%= submit_tag "Valider l'achat", class: 'btn essence-btn' %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
</div>
