<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <% if flash[:notice] %>
        <div class="alert alert-success col-12" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-12 mb-30">
        <h2>Panier</h2>
      </div>
      <div class="col-12">
        <table class="table" id="cart_table">
          <thead>
            <tr clas="cart_product_desc">
              <th scope="col">#</th>
              <th scope="col">Non du Produit</th>
              <th scope="col">Prix</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% count = 1 %>
            <% @cart.each do |item_cart| %>
              <tr>
                <td>
                  <p><%= count %></p>
                </td>
                <td>
                  <p><%= Attire.find(item_cart.attire_id).title %></p>
                </td>
                <td>
                  <span><%= number_to_euro(item_cart.sale_price) %></span>
                </td>
                <td>
                  <%= link_to "Effacer", cart_path(item_cart.id), class:'btn btn-outline-danger btn-sm', style:'margin-top: auto;','data-method' => 'DELETE'%>
                </td>
              </tr>
              <% count +=1 %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <% if @cart.length < 2 %>
          <p>Tu as
            <%= @cart.length %>
          objet dans ton panier</p>
        <% else %>
          <p>Tu as
            <%= @cart.length %>
          objets dans ton panier</p>
        <% end %>
        <% @sum = 0 %>
        <% @cart.each do |i| %>
          <% @sum += i.sale_price %>
        <% end %>
        <p>Le total de ton panier s'élève à <%= number_to_euro(@sum) %></p>
      </div>
      <%= if @cart.length > 0
        link_to "Checkout", new_charge_path, class:'btn', style:'margin-top: auto;'
        end %>

    </div>
  </div>
</div>
        <!-- ##### Main Content Wrapper End ##### -->
