<!-- ##### Checkout Area Start ##### -->
<div class="checkout_area section-padding-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="checkout_details_area mt-50 clearfix">
          <div class="cart-page-heading mb-30">
            <h5>Connecte-toi!</h5>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row">

            <div class="col-12 mb-3">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="col-md-12 mb-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>
                  characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </div>

            <div class="col-md-6 mb-4">
              <%= f.submit "Login", class:"btn essence-btn" %>
            </div>
            <div class="col-md-6 mb-4">
              <%= render "devise/shared/links" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="col-md-6 mb-4">
                <%= f.label :remember_me %>
                <%= f.check_box :remember_me %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- ##### Checkout Area End ##### -->
